body {
  margin: 30px auto;
  font-family: "Helvetica Neue";
  width: 750px;
  
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 150px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #708090;
}

.background.bar {
  fill: #B0E0E6;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 9px sans-serif;
}

.brush rect.extent {
  fill: #4169E1;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#tfare-chart {
  width: 250px;
}

#pclass-chart {
  width: 250px;
}

#sexPieChart {
  width: 200px;
}

#age-chart {
  width: 250px;
}

#passenger-list {
  min-height: 1024px;
}

#passenger-list .passenger {
  line-height: 2em;
  background: #4682B4;
  width: 650px;
  margin-bottom: 1px;
}

#passenger-list .passenger div {
  display: inline-block;
}
#passenger-list div.name {
  width: 400px;
  padding-left: 10px;
  text-align: left;
}

#passenger-list div.sex {
  width: 100px;
  padding-left: 10px;
  text-align: left;	
}
#passenger-list div.pas_class{
  width: 50px;
  padding-right: 10px;
  text-align: top; 
}

#passenger-list div.fare{
  width: 50px;
  padding-right: 10px;
  text-align: left;
}

#passenger-list div.age{
  width: 50px;
  padding-right: 10px;
  text-align: left;
}

aside {
  position: relative;
  left: 460px;
  font-size: smaller;
  width: 220px;
}

div.dc-chart {
  float: right; }

.dc-chart .pie-slice {
  fill: #fff;
  font-size: 11px;
  cursor: pointer; }
.dc-chart .pie-slice :hover, .dc-chart .pie-slice.highlight {
    fill-opacity: .5; }

.dc-chart .deselected path, .dc-chart .deselected circle {
  stroke: none;
  fill-opacity: .6;
  fill: #B0E0E6; }